@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
#search-wrap {
    font-family: 'Noto Sans SC', sans-serif;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat; 
    background-size:cover;
    height:100%; 
    width: 100%;  
    margin: 0%;
    text-align: center; 
}

#search {
    margin-top: 40px;
    padding-bottom: 40px;
}
/*Square buttons*/

.btn.btn-square {
    border-radius: 0;
  
  }

input, label {
    display:block;
    color: white;
}

form {
    padding-top: 5%;
    margin: 0 auto;
    width: 450px;
}


/*Spacing of tabs in navbar*/
nav a {
    color: rgb(150, 150, 150);
    padding-right: 30px;
}


button {
    margin: 5px 5px 5px 5px; 
}


#dialog {
    background: white; 
    color: black; 
}

#dialog:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
}

.searchResultBox {
    margin-top: 40px; 
}

.item-display {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    height: 30%;
    border: 1px solid #707070;
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    float: left;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 8px;
}

.item {
    height: 30%;
    margin: 10px 10px 10px 10px; 
    border: 1px solid #707070;
}

#description {
    margin-top: 5%;
}

.btn {
    border-radius: 50px;
}

.btn-section {
    margin-top:20px; 
    margin-left: 20px; 
}

.itemImage {
    margin: 0; 
    height:12em; 
    width:12em; 
}

.link {
    color: white; 
}


select {
    width: 100%;
    max-width: 120px; 
}

.lists-view {
    margin: 100px 10px 100px 10px; 
    border: 1px solid #707070;
}

.thumb {
    height: 230px;
    width: 230px;
}

.list-name {
    font-size: 24px;
    margin-left: 20px;
}

#title {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

#prepared {
    text-align: center;
    font-size: 20px;
}

.underlined {
    text-decoration: underline; 
}